<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.63.0.0" targetFramework="native" />
  <package id="cryptopp" version="5.6.5.4" targetFramework="native" />
  <package id="cryptopp.android" version="5.6.5.2" targetFramework="native" />
  <package id="cryptopp.v120" version="5.6.5.2" targetFramework="native" />
  <package id="cryptopp.v140" version="5.6.5.2" targetFramework="native" />
  <package id="libiconv" version="1.14.0.11" targetFramework="native" />
  <package id="libiconv.redist" version="1.14.0.11" targetFramework="native" />
  <package id="libiconv.vp" version="1.14.0.1" targetFramework="native" />
  <package id="libiconv.vp.redist" version="1.14.0.1" targetFramework="native" />
  <package id="sfml-audio" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-audio.redist" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-graphics" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-graphics.redist" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-system" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-system.redist" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-window" version="2.4.0.0" targetFramework="native" />
  <package id="sfml-window.redist" version="2.4.0.0" targetFramework="native" />
</packages>